body
{
    margin: 0 auto;
    background: url("../images/backGround.png");
    background-size: cover;
}

nav
{
    padding-top: 0.1vh;
}

.connexionSpan
{
    font-size: 100%;
    margin-top: 1.5%;
    margin-left: 70%;
}

.connexion a
{
    margin-left: 80%;
}

.errorMessage
{
    margin-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vw;
    color: red;
}

.goodMessage
{
    margin-top: 10vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 2vw;
    color: green;
}

form
{
    width: 40%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6.1%;
    margin-bottom: 6.1%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border: black solid 1px;
}

.principal
{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

form div input
{
    width: 100%;
    padding: 2%;
    margin-bottom: 3vh;
}

form div button
{
    font-size: 3vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 106%;
    height: 7vh;
}

.logo
{
    position: fixed;
    padding-left: 1vw;
    width: 13.5%;
}

.connectMessage
{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -15%;
    margin-bottom: 15%;
}