body
{
    margin: 0 auto;
}

footer
{
    width: 99.86%;
    height: auto;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #ad9f76;
    border: black solid 1px;
}

footer div
{
    width: 49.76%;
    display: inline-block;
}

.footerLeft a
{
    float: right;
    margin-right: 2%;
}

.footerRight a
{
    margin-left: 2%;
    float: left;
}

footer div a
{
    text-decoration: none;
    color: black;
}

footer div a:hover
{
    border-bottom: black solid 1px;
}