body
{
    margin: 0 auto;
    background: url("../images/backGround.png");
    background-size: cover;
    background-attachment: fixed;
}

nav
{
    padding-top: 0.1vh;
}

main
{
    margin-bottom: 12vh;
}

.backAC a
{
    margin-left: 4vw;
}

.titreAC span
{
    margin-left: 18vw;
}

.logo
{
    position: fixed;
    padding-left: 1vw;
    width: 13.5%;
    margin-top: 1%;
}

.refreshBTN
{
    bottom: 5vh;
    right: 1vh;
    position: fixed;
}

.connexion a
{
    margin-left: 50%;
}

.errorMessage, .goodMessage
{
    display: block;
    text-align: center;
    font-size: 2vw;
}

.errorMessage
{
    margin-top: 2vw;
    color: red;
}

.goodMessage
{
    margin-top: 2vw;
    color: green;
}

.formulaire
{
    width: 65%;
    height: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.formulaire div
{
    float: left;
    display: table-cell;
    width: 100%;
    height: 75%;
}

.formulaire div input
{
    font-size: 2vw;
    width: 75%;
    height: 100%;
}

.formulaire div button
{
    font-size: 2vw;
    width: 11%;
    height: 113%;
}

.searchDiv
{
    margin-top: 3%;
}

.carte
{
    background-color: white;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    margin-top: 3%;
}

.carte ul
{
    list-style: none;
}

.bord
{
    border-right: black solid 1px;
}

.intoCard
{
    width: 49.2%;
    display: inline-block;
    vertical-align: middle
}

.modifBTN
{
    margin-right: 1vw;
}

.VCard
{
    text-decoration: none;
    color: black;
    float: right;
}

.carte button
{
    float: right;
}

.mailtel
{
    color: black;
}

.mailtel:hover
{
    text-decoration: none;
}

.mailtel:active
{
    color: blue;
}

.pageBTN
{
    margin-top: 7vh;
    width: 225px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.pageBTN div
{
    width: 75px;
}