nav
{
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    border-bottom: black solid 1px;
    background-color: white;
    margin: 0 auto;
}

nav div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titre
{
    width: 70%;
}

.titre span
{
    margin-left: 58%;
}

.connexion
{
    width: 30%;
    text-align: center;
}

.connexion a
{
    margin-top: -3.5%;
}

span
{
    font-size: 1.75vw;
}

nav a
{
    padding-top: 5%;
    font-size: 0.875vw;
    color: black;
    text-decoration: none;
}

nav a:hover
{
    text-decoration: underline;
}

nav a:active
{
    color: blue;
}

.ANoChange
{
    color: black;
}

.ANoChange:hover
{
    text-decoration: none;
}

.ANoChange:active
{
    color: black;
}